*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
@font-face {
    font-family:'Fast and furious';
    src: url(fuente/Antique\ Olive\ Std\ Nord\ Italic.otf);
}

@font-face {
    font-family:'Bebas Neue';
    src: url(fuente/Bebas\ Neue\ Regular.ttf);
}

@font-face {
    font-family:'Montserrat';
    src: url(fuente/Montserrat\ SemiBold.ttf);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box ;
}

body{
    background-color:rgb(0, 0, 0);
}

header{
    top: 0;
    display: flex;
    gap: 8cm;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 10px 50px;
    width: 100%;
    z-index: 100;
    position: fixed;
    opacity: 0.6;
}

.img_logo {
    width: 200px;
    height: auto;
    margin-left: 30px;
}

.nav{
    list-style: none;
    display: flex;
}
.nav a{
    font-family:'Fast and Furious', sans-serif;
    color: rgb(253, 46, 167);
    text-decoration: none;
    margin-left: 40px;
    font-size: 15px;
}

.Three{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
}

.marco{
    border: solid;
    border-color: rgb(253, 46, 167); 
    overflow: hidden;
}

.marco img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.marco:nth-child(1) { width: 260px; height: 300px; }
.marco:nth-child(2) { width: 300px; height: 400px; }
.marco:nth-child(3) { width: 300px; height: 500px; }

.video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-top: -10px;
}

.Notiicas_txt{
    font-family:'Bebas Neue', sans-serif;
    color: rgb(46, 118, 253);
    text-align: center;
    margin-top: 20px;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translateX(-50%);
    background: none;
    
}

.Notiicas_p{
    font-family:'Montserrat', sans-serif;
    color:white;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    position: absolute;
    top: 67%;
    left: 20%;
    width: 500px;
    transform: translateX(-50%);
    background: none;
    
}

.sinopis{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}


.container-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 0;

}

.card{
    background-color: rgb(0, 0, 0);
    border: solid;
    border-color: white;
    padding: 20px;
    width: 300px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    background-color: white;
}

.imagenes{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}